In [1]:
#class2 (12-5-2022)

# Python class 2

Print funtion: print() is a python built-in function/statement

In [2]:
print("Pakistan zindabad")
#function-name    #argument

Pakistan zindabad

In [3]:
print("i am a string value", 1217, 122.56, True)

i am a string value 1217 122.56 True

In [4]:
print("i am a string value", 1217, 122.56, True, sep="--")

i am a string value--1217--122.56--True

In [5]:
print("Hello world",end=".")
print("Bye")

Hello world.Bye

In [6]:
print("Hello world")

Hello world

# Variables for string

In [7]:
#age is a variable. 
#1.5 is a float value.
#we can say that 1.5 is assigned to age.
# = >>>>> is assignment operator.

In [8]:
age = 1.5

In [9]:
name = "Noah"

In [10]:
age

1.5

In [11]:
name

'Noah'

In [12]:
id(age)

2234269211600

In [13]:
type(age)

float

In [14]:
type (name)

str

# Operaters:

* Addition (+)
* substraction(-)
* Multiply(*)
* Division (/) and (//)

In [15]:
marks = 45

marks + 50

95

In [16]:
marks

45

In [17]:
age

1.5

In [18]:
age = age + 1

In [19]:
age

2.5

In [20]:
age -= 1

In [21]:
age

1.5

In [22]:
#Division by default in python is float

In [23]:
10/5

2.0

In [24]:
#makes the value from float to integer, and eliminates the point value.
10//5

2

In [25]:
import math
math.floor(1.5)

1

In [26]:
math.ceil(1.5)

2

In [27]:
A = 25
print(A)

25

In [28]:
A -= 5
B = A + 100
print(A)
print(B)

20
120

# Variable Names Legal and illegal:

some words cann't be used as a variable name since they are reserved for somthing else

i.e:

print,else,if,for,in,....

In [29]:
# else = 123

In [30]:
#variable cannot have space
father name = "Jafri"

SyntaxError: invalid syntax (Temp/ipykernel_6268/3999172609.py, line 2)

In [31]:
#special characters and number cannot be used as variable
father@name ="Jafri"
father-name ="Jafri"

SyntaxError: cannot assign to operator (Temp/ipykernel_6268/4026648319.py, line 2)

In [32]:
father_Name = "Jafri"
father_name112 = "Jafri"

In [33]:
#Above one is okay but not preffered

# USER Input

In [34]:
age = input()

23

In [35]:
age = input("Enter your age: ")
print(age)

Enter your age: 23
23

In [36]:
height = input("Enter your Height: ")
print(height)

Enter your Height: 6
6

In [37]:
name = input("Enter your name: ")
age = input ("Enter your Age: ")
print ("your Name is ", name, "your Age is ",age)

Enter your name: Abdullah
Enter your Age: 23
your Name is  Abdullah your Age is  23

# String Concatination

In [38]:
first_name = "Noah"
last_name = "Hussein"
first_name + " " + last_name

'Noah Hussein'

In [39]:
# + operator

int + int >>>>>> addition                                       
string + string >>>>> concatination                                        
string + int >>>>  error                                          
int + string >>>>  error

In [40]:
print ("Dear your Name is "+ name + " And your age is "+ age)

Dear your Name is Abdullah And your age is 23

# Type casting

In [41]:
number_of_apples = "100"
number_of_apples = int(number_of_apples)
number_of_apples

100

In [42]:
int(number_of_apples ) = "100"

SyntaxError: cannot assign to function call (Temp/ipykernel_6268/504631435.py, line 1)

In [44]:
age = int(input("enter your age: "))
name = input("your name: ")
print ("Your Name is "+ name + " and your age is "+ age)

enter your age: 23
your name: Abdullah

TypeError: can only concatenate str (not "int") to str

In [45]:
print ("Your Name is "+ name + " And your age is "+ str(age))

Your Name is Abdullah And your age is 23

In [46]:
a=int(23)
b="Noah"
c=int (55)

print (str(a)+ " "+b)
print (str(a)+ " " + str(c))

23 Noah
23 55

# string formation

In [47]:
name_of_company = input("Enter the name of the company ")
number_of_units = int(input("how many units do you buy? "))
price_per_unit = int(input("Enter the price of per unit "))
total_price = number_of_units * price_per_unit

Enter the name of the company Dawlance
how many units do you buy? 10
Enter the price of per unit 90000

In [50]:
print ("You have ordered {} units of the company {}. The total cost of your units is {} ".format(number_of_units,name_of_company,total_price))

You have ordered 10 units of the company Dawlance. The total cost of your units is 900000