In [1]:
# 27 - 06 - 2022

In [2]:
def greet():
    print('Hello world')

In [3]:
greet()

Hello world

In [4]:
def greet(name):
    name = input("Enter name: ")
    messages = "Hello"
    print(f"{messages} {name}")

In [5]:
greet(" ")

Enter name: Abdullah
Hello Abdullah

In [6]:
def square(m): 
    sq = m**2
    #or
    #sq = m*m
    #print(sq)

In [7]:
square(6)

In [8]:
print(sq)

NameError: name 'sq' is not defined

# global vs local

#global: calling a variable exist outside function
#local: calling a variable exist inside function

In [9]:
def square(m): 
    sq = m**2
    global name 
    name = "Saylani"

In [10]:
square(6)
print(name)

Saylani

In [11]:
def sq2(num):
    sqe = num*num
    return sqe
    
    #or 
    #return num**2

In [12]:
sq2(10)

100

In [13]:
def add(num1,num2):
    sqe = num1+num2
    return sqe
    
    #or 
    #return num**2

In [14]:
add(3,5)

8

In [15]:
def cal(num1,num2,sign):
    num1 = int(input('Enter a num: '))
    num2 = int(input('Enter a num: '))
    sign = input('Enter a sign: ')
    if sign == '+':
        return num1+num2
    elif sign == '-':
        return num1-num2
    elif sign == '*':
        return num1*num2
    else:
        return num1/num2

In [16]:
cal('num1','num2','sign')

Enter a num: 7
Enter a num: 8
Enter a sign: +

15

In [17]:
def sub(v1,v2):
    ans = v2-v1
    return ans

In [18]:
print(sub(20,30))

10

In [19]:
def strr(val):
    val = 1
    global name
    name = 'Abdullah'
    return val

In [20]:
strr('val')

1

In [21]:
name

'Abdullah'

# Positional Parameters and Arguments

In [22]:
def complete_name(first_name,last_name):
    full_name  = first_name +" " + last_name
    return full_name

In [23]:
complete_name('Noah','Hussein')

'Noah Hussein'

# Default parameters:

In [24]:
def cubic(num=2):
    cub = num**3
    return cub

In [25]:
cubic(4)

64

In [26]:
cubic()

8

In [29]:
def largest(numbers):
        numbers = int(input('Enter a number: '))
        if numbers < 10:
            return 'smaller than 10'
        elif numbers == 10:
            return 'equals to 10'
        else:
            return 'larger than 10'

In [30]:
largest('Enter a num')

Enter a number: 10

'equals to 10'

In [31]:
def highest(arr):
    return max(arr)

def lowest(arr):
    return min(arr)

In [32]:
highest([2,5,7,8,6,1,3,4])

8

In [33]:
lowest([2,5,7,8,6,1,3,4])

1

In [34]:
def max_num(arr):
    return (max(arr)),(min(arr))

In [35]:
_max,_min=max_num([23,45,67,89,98])

In [36]:
_max

98

In [37]:
_min

23

In [38]:
def square():
    start = int(input('Enter a number: '))
    end= int(input('Enter a number: '))
    return [x**2 if x<10 else x for x in range(start,end) ]

In [39]:
square()

Enter a number: 5
Enter a number: 8

[25, 36, 49]

In [ ]:
# Done