# class 7:

In [1]:
# https://github.com/AbdullahJaffrey/SaylaniAssignments/blob/master/SaylaniHw1.ipynb

# we solved this assignment in class.

# class 8:

In [2]:
# Jun 2, 2022, 7:45PM - 10:15 PM

### For Loop:

In [3]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

#### Range function:

In [4]:
range(10)
#same as above but in a function form.

range(0, 10)

In [5]:
for i in range(2,10):
    print(i)

2
3
4
5
6
7
8
9

In [6]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [7]:
even = []
odd = []
for i in range(1,10):
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
        
print('\n Even list')
print(even)
print('\n Odd list')
print(odd)

 Even list
[2, 4, 6, 8]

 Odd list
[1, 3, 5, 7, 9]

In [8]:
import math 

even2  = []
odd2 = []
for i in range(1,100):
    if i%2==0 and i%5!= 0:
        even2.append(i)
    else:
        odd2.append(i)
even2

[2,
 4,
 6,
 8,
 12,
 14,
 16,
 18,
 22,
 24,
 26,
 28,
 32,
 34,
 36,
 38,
 42,
 44,
 46,
 48,
 52,
 54,
 56,
 58,
 62,
 64,
 66,
 68,
 72,
 74,
 76,
 78,
 82,
 84,
 86,
 88,
 92,
 94,
 96,
 98]

In [9]:
print(i%2==0,i)

False 99

In [10]:
even2  = []
odd2 = []
for i in range(1,100):
    if i%5!= 0:
        if i%2==0:
            even2.append(i)
        else:
            odd2.append(i)
    else:
        i = None

print('\n Even list')
print(even2)
print('-----------------------------------')
print('\n Odd list')
print(odd2)

 Even list
[2, 4, 6, 8, 12, 14, 16, 18, 22, 24, 26, 28, 32, 34, 36, 38, 42, 44, 46, 48, 52, 54, 56, 58, 62, 64, 66, 68, 72, 74, 76, 78, 82, 84, 86, 88, 92, 94, 96, 98]
-----------------------------------

 Odd list
[1, 3, 7, 9, 11, 13, 17, 19, 21, 23, 27, 29, 31, 33, 37, 39, 41, 43, 47, 49, 51, 53, 57, 59, 61, 63, 67, 69, 71, 73, 77, 79, 81, 83, 87, 89, 91, 93, 97, 99]

In [11]:
for num in range(1,10):
    if num%2==0:
        break
    else:
        print(num)

1

In [12]:
for num in range(1,10):
    if num%2==0:
        continue
    else:
        print(num)

1
3
5
7
9

In [13]:
for num in range(1,10):
    if num==7:
        continue
    else:
        print(num)

1
2
3
4
5
6
8
9

# Break function: 
    
    breaks or terminates the function.

In [14]:
for num in range(1,10):
    if num==7:
        break
    else:
        print(num)

1
2
3
4
5
6

# list in for loop

In [15]:
list1 = ["Salis", "Noah", "Umair", "Ahsan", "Waqas","Nuaman"]
for name in list1:
    print(f"Hello {name}!")

Hello Salis!
Hello Noah!
Hello Umair!
Hello Ahsan!
Hello Waqas!
Hello Nuaman!

In [16]:
for name in list1[2:4]:
    print(f"Hello {name}!")

Hello Umair!
Hello Ahsan!

In [17]:
guest=[]

print("We applause your coming!")
for names in range(10):
    names  = input("Enter Your name: ").upper()
    if  names == "ILYAS":
        continue
    else:
        guest.append(names)

        
print(guest)

We applause your coming!
Enter Your name: Salis
Enter Your name: Umair
Enter Your name: Ahsan
Enter Your name: Noah
Enter Your name: Yasmeen
Enter Your name: Mehak
Enter Your name: Usra
Enter Your name: Bisma
Enter Your name: Noah
Enter Your name: Ilyas
['SALIS', 'UMAIR', 'AHSAN', 'NOAH', 'YASMEEN', 'MEHAK', 'USRA', 'BISMA', 'NOAH']

In [18]:
"USRA" in guest

True

In [22]:
guests=[]

print("We applause your coming!")
for names in range(10):
    names  = input("Enter Your name: ").upper()
    if  names == "ILYAS" or names in guests or names in guest or len(names)==0:
        continue
    else:
        guests.append(names)

We applause your coming!
Enter Your name: Haider
Enter Your name: Salis
Enter Your name: Salman
Enter Your name:
Enter Your name: Kaleem
Enter Your name: Kaleem
Enter Your name: Sasha
Enter Your name: Qawi
Enter Your name: Usra
Enter Your name: Kaiser

In [23]:
guests

['HAIDER', 'SALMAN', 'KALEEM', 'SASHA', 'QAWI', 'KAISER']