# Double Type casting:

In [1]:
#class2 (17-5-2022)

In [2]:
print(int(input("Here's the input: ")))

Here's the input: 2
2

In [3]:
print(int(float(input("Here's the input: "))))

Here's the input: 2.5
2

In [4]:
"My name is {} and i'm {} years old".format("A.jaffery", 22)

"My name is A.jaffery and i'm 22 years old"

In [5]:
"My name is {0} and i'm {1} years old, My name is {0} ".format("A.jaffery", 22)

"My name is A.jaffery and i'm 22 years old, My name is A.jaffery "

In [6]:
a= "Pakistan"

In [7]:
print("We are in {}".format(a))

We are in Pakistan

# Another way to formats a string:

In [8]:
print(f"We are in {a}")

We are in Pakistan

In [9]:
b = 4
print(f"we have {b} bananas.")

we have 4 bananas.

In [10]:
b = 4
print(f"we have {b} bananas.")

we have 4 bananas.

In [11]:
print("Here's the display string")

Here's the display string

In [12]:
print('''"Here's the "display" string''')

"Here's the "display" string

In [13]:
print("Here's the \"display\" string")

Here's the "display" string

In [14]:
print('''

"Saylani Mass Training" \n
Name :"Nasir" 
course: "AI and DS"
class timing: "7-10"
''')

"Saylani Mass Training"

Name :"Nasir"
course: "AI and DS"
class timing: "7-10"

In [15]:
print('''

"Saylani Mass Training" \n\n Name :"Nasir" \n course: "AI and DS"  \n class timing: "7-10"
''')

"Saylani Mass Training"

 Name :"Nasir"
 course: "AI and DS"
 class timing: "7-10"

In [16]:
Name = input('Input Here ')
Course = input('Input Here ')
classT = input('Input Here ')


print(f'''

"Saylani Mass Training" \n
Name : {Name} 
course: {Course}
class timing: {classT}
''')

Input Here Abdullah
Input Here DSAI
Input Here 7pm-10pm


"Saylani Mass Training"

Name : Abdullah
course: DSAI
class timing: 7pm-10pm

In [17]:
Name = input('Enter here ')
Course = input('Enter here ')
classT = input('Enter here ')
Id = int(input('Enter here '))

Enter here Abdullah
Enter here DS-AI
Enter here 7pm - 10pm
Enter here 49786

In [18]:
print(f'''

\b "You are studing '\033[1m'{Course}'\033[1m' in "Saylani Mass Training" \b \n
Your Name : {Name} 
Your Id: {Id}
class timing: {classT}
''')

 "You are studing ''DS-AI'' in "Saylani Mass Training" 

Your Name : Abdullah
Your Id: 49786
class timing: 7pm - 10pm

In [19]:
card = print(f'''

\b "You are studing '\033[1m'{Course}'\033[1m' in "Saylani Mass Training" \b \n
Your Name : {Name} 
Your Id: {Id}
class timing: {classT}
''')

 "You are studing ''DS-AI'' in "Saylani Mass Training" 

Your Name : Abdullah
Your Id: 49786
class timing: 7pm - 10pm

In [20]:
country = 'Pakistan'

In [21]:
country.capitalize()

'Pakistan'

# Checking either the word exist or not

In [22]:
para = "we are studying AI & Ds in Saylani Mass Training"

In [23]:
para.find("AI")

16

In [24]:
para.find("SMIT")

-1

In [25]:
para = "we are studying AI & Ds in Saylani Mass Training, AI"
para.find("AI",17)

50

In [26]:
para.casefold()

'we are studying ai & ds in saylani mass training, ai'

In [27]:
Para2 = para.replace(para, 'HELLO WORLD')
Para2

'HELLO WORLD'

In [28]:
Para2[7:-1]

'ORL'

In [29]:
Para2[-10]

'E'

In [30]:
Para2.startswith("H" or "L")

True

In [31]:
len(Para2)

11

In [32]:
Para2.rsplit(" ")

['HELLO', 'WORLD']

In [33]:
Para3 = "  <---------    SHARE     --------->    "

print(Para3.lstrip())
print(Para3.rstrip())
print(Para3.strip())

<---------    SHARE     --------->
  <---------    SHARE     --------->
<---------    SHARE     --------->

In [34]:
Para3.isalpha()

False

In [35]:
a = "string"

In [36]:
a.join(['a','b','f'])

'astringbstringf'

In [37]:
sen = 'string'

In [38]:
# Sine string is an iterable, seach one o one and prints it .

In [39]:
'-'.join(sen)

's-t-r-i-n-g'

In [40]:
# Saylani timings now :
        
# Monday and thursday

# 7-10