In [1]:
#new class 10: Jun 9, 2022, 7:24 PM

In [2]:
lists  = ["Koala","Cat","Fox"]
for i in lists:
    print(i)

Koala
Cat
Fox

In [3]:
lists  = ["Sam","Micheal","Noah","Lisa"]
for i in lists:
    print(f"Welcome {i}")

Welcome Sam
Welcome Micheal
Welcome Noah
Welcome Lisa

In [4]:
str1 =  'Antarctica'

for i in str1:
    print(i)

A
n
t
a
r
c
t
i
c
a

In [5]:
#Write a for loop so that every item in the list is printed.


lst1=["Phil", "Oz", "Seuss", "Dre"]
lst2=[]
#Type your answer here.

for i in lst1:
    lst2.append(i)



print(lst2)

['Phil', 'Oz', 'Seuss', 'Dre']

In [6]:
#Jun 9, 2022, 7:44 PM


#Type your answer here.

for i in lst1:
    lst2.append(i)

print(lst2)

['Phil', 'Oz', 'Seuss', 'Dre', 'Phil', 'Oz', 'Seuss', 'Dre']

In [7]:

#Write a for loop which appends the square of each number to the new list.
lst1=[3, 7, 6, 8, 9, 11, 15, 25]
lst2=[]
#Type your answer here.

for i in lst1:
    n = i**2
    lst2.append(n)

print(lst2)

[9, 49, 36, 64, 81, 121, 225, 625]

In [8]:
lst1=[3.14, 66, "Teddy Bear", True, [], {}]
lst2=[]
#Type your answer here.


for i in lst1:
    n = type(i)
    lst2.append(n)

print(lst2)

[<class 'float'>, <class 'int'>, <class 'str'>, <class 'bool'>, <class 'list'>, <class 'dict'>]

In [9]:
str="Civilization"

c=0
for i in str:
    c=c+1
print(c)

12

In [10]:
name = 'Pakistan'

for char in name[::-1]:
    print(char)

n
a
t
s
i
k
a
P

In [11]:
#MEthod 1:
lst1=['Nasir','Asad','Umer','Saad']
lst2 = ['Hussain', 'Rafiq','Khan','Rehman']

for name in lst1:
    print(name +" " + lst2[lst1.index(name)])

Nasir Hussain
Asad Rafiq
Umer Khan
Saad Rehman

In [12]:
# MEthod 2:

lst1=['Nasir','Asad','Umer','Saad']
lst2 = ['Hussain', 'Rafiq','Khan','Rehman']

for name in lst1:
    print(f'{name} {lst2[lst1.index(name)]}')

Nasir Hussain
Asad Rafiq
Umer Khan
Saad Rehman

In [13]:
lst1.index('Nasir')
lst2[lst1.index('Nasir')]

'Hussain'

In [14]:
val1 = list(range(0,9))
val2 = list(range(0,9))

for i in val1:
    print(f'{i} {val2[val1.index(i)]}')

0 0
1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8

# Dictionary:

In [15]:
# empty dictionary
dictionary = {}
type(dictionary)

dict

In [16]:
# how to create a dictionary:
print('\n Step1')
dictionary= {'name':'saylani', 'campus':'gulshan'}

print(dictionary)

#accessing data with key:
print('\n Step2')
print(dictionary['campus'])

#to insert a new value:
print('\n Step3')
dictionary['teacher'] = 'Nasir'
print(dictionary)

 Step1
{'name': 'saylani', 'campus': 'gulshan'}

 Step2
gulshan

 Step3
{'name': 'saylani', 'campus': 'gulshan', 'teacher': 'Nasir'}

In [17]:
# adictionary with keys nad vaLUES
dictionary={'name':'Saylani', 'campus':'Gulshan', 'course':'DSAI'}
 #             key    value       key    value       key    value
print(dictionary)

#Inserting a value 
dictionary['teacher']="Nasir"
print(dictionary)


# UPDAting a values against a key

dictionary['teacher']="Abdullah"
dictionary

{'name': 'Saylani', 'campus': 'Gulshan', 'course': 'DSAI'}
{'name': 'Saylani', 'campus': 'Gulshan', 'course': 'DSAI', 'teacher': 'Nasir'}

{'name': 'Saylani',
 'campus': 'Gulshan',
 'course': 'DSAI',
 'teacher': 'Abdullah'}

In [18]:
# deleting a part a dict
del dictionary['course']
dictionary

{'name': 'Saylani', 'campus': 'Gulshan', 'teacher': 'Abdullah'}

In [19]:
score = {'babar':45, "rizwan":89,"fakhar":7}
score

{'babar': 45, 'rizwan': 89, 'fakhar': 7}

In [20]:
for i in score:
    print(i)

babar
rizwan
fakhar

In [21]:
for i in score.keys():
    print(i)

babar
rizwan
fakhar

In [22]:
for i in score.values():
    print(i)

45
89
7

In [23]:
for i in score.items():
    print(i)

('babar', 45)
('rizwan', 89)
('fakhar', 7)

In [24]:
for key,val in score.items():
    print(f"key:{key}  value:{val} ")

key:babar  value:45
key:rizwan  value:89
key:fakhar  value:7

In [25]:
for key in score.keys():
    print(score[key])

45
89
7

In [26]:
name,score = 'babar', 100

In [27]:
name

'babar'

In [28]:
#BONUS (RECALL OF LIST COMPREHENSION)
[num for num in range(10) if num%2==0]

[0, 2, 4, 6, 8]

In [29]:
[num if num%2==0 else "Good" for num in range(10) ]

[0, 'Good', 2, 'Good', 4, 'Good', 6, 'Good', 8, 'Good']

In [30]:
#Done! Class over